<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Five Minute Catchup - Settings</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
  <b>SETTINGS</b>
    <center>
    (the form below is a back-up if the sliding button doesnt work)<br>
    <form name="whichdistance">
      Set distance: 
      <input type="number" name="distance" min="10" max="1000"><br>
    </form><br><br><br>
  
     <B>Incognito Mode</B>
      <div class="switch">
        <input type="checkbox"><label><i></i></label>
      </div>

      <br><br><br><button type="button" onclick="save()" ref="#/">Save settings</button><br><br>

      <div class="container">
      <p><span class="glyphicon glyphicon-heart"></span>from the Five Minute Catchup team</p>
      </div>
    </center>
  </body>
</html>