<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Five Minute Catchup - Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script>
      function outputUpdate(dis) {
        document.querySelector('#dist').value = dis;
      }
    </script>
    <link rel="stylesheet" href="app/styles/main.css">
    <link rel="text/javascript" href="app/assets/js/slider-default.css">
  </head>
  <body>

  <b>Preferences:</b><br><br>
    <center>
      <div data-role="page">
        <div data-role="main" class="ui-content">
          <form method="post" style="width:60%" action="to_be_defined">
          <br>
            <label for=distance>Set distance:</label>
            <input type=range min=10 max=100 value=50 id=distance step=1 oninput="outputUpdate(value)">
            <output for=distance id=dist>50</output><br><br>
            <B>Incognito Mode</B><br><br>
            <div class="switch">
              <input type="checkbox"><label><i></i></label>
            </div>
          <br><br><br>
          <input type="submit" data-inline="true" onclick="save()" ref="#/" value="Save settings">
        </form>
      </div>
    </div>
    <br><br>
    <div class="container">
      <p><span class="glyphicon glyphicon-heart"></span>from the Five Minute Catchup team</p>
    </div>
    </center>
  </body>
</html>